<!DOCTYPE html>
<html lang="de">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="container">
    <header>
<a href="/" aria-label="Zur Startseite">
  <img src="{{ "/images/OwnTheSun LOGO FINAL 2000.png" | relURL }}"
       alt="Own The Sun Logo"
       class="logo" />
</a>
      <h1 class="headline">30 Jahre freie Energie aus der Sonne für Dich</h1>
      <p class="subheadline">Wir bieten Premium-Produkte mit extra langer Garantie.</p>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
  </div>
</body>
</html>
