<!-- layouts/_default/single.html -->
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}" />
</head>
<body>
  <div class="container">
    <header>
      <a href="{{ "/" | relURL }}"><img src="{{ "images/logo.png" | relURL }}" alt="{{ .Site.Title }}" class="logo"></a>
      <h1>{{ .Title }}</h1>
    </header>
    <main>
      {{ .Content }}
    </main>
    <footer>
      © 2025 Own The Sun |
      <a href="#" onclick="openModal('datenschutzModal');return false;">Datenschutzerklärung</a> |
      <a href="#" onclick="openModal('impressumModal');return false;">Impressum</a>
    </footer>
  </div>
</body>
</html>
