<form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field">
  <input type="hidden" name="form-name" value="contact">
  <!-- Honeypot für Spam -->
  <p hidden>
    <label>Don’t fill this out if you’re human: <input name="bot-field"></label>
  </p>
  <p>
    <label>Name: <input type="text" name="name" required></label>
  </p>
  <p>
    <label>Email: <input type="email" name="email" required></label>
  </p>
  <p>
    <label>Nachricht: <textarea name="message" required></textarea></label>
  </p>
  <p>
    <button type="submit">Absenden</button>
  </p>
</form>
